/*
#FFFFFF Putih
#E4F2E5 Putih Kehijauan
#3C4B3D Hijau Tua
#B6CEB8 putih kehijauan sediki tua
#629968 hijau muda
#146C20 hijau
#1ca32e NEW
*/



body {
	background-color: #E4F2E5;
	font-family: 'montserrat';
}

#navbar-utama {
	background-color: #E4F2E5 !important;
	transition: 0.3s;
}

.main-navbar {
	/* width: calc(100vh - 100px); */
	border-radius: 2px;
	box-shadow: 0px 1px 10px #999;
}

/* Homepage Start */
.jumbotron {
	margin-top: 1vw;
	position: relative;
	background: url("../images/homepage/masjid.jpg") no-repeat center center;
	width: 100%;
	height: 100%;
	/* background-size: 100% 100%; */
}

.row-jumbotron {
	padding-top: 15vh;
	padding-right: 20px;
}

.carousel-homepage {
	/* margin-top: 4vw; */
	height: 40vh;
	overflow: hidden;
	border-radius: 25px;
}

.btn-sign-up,
.btn-sign-in {
	font-size: 15px;
	border-radius: 10px;
	color: #629968;
	border: 2px solid #146C20;
}

.btn-sign-up:hover,
.btn-sign-in:hover {
	color: white;
	background-color: #629968;
	border: 2px solid white;
}

.text-ini {
	color: greenyellow;
}


.row-ngaji {
	margin-top: 2vw;
}

.btn-quran-online,
.btn-iqra-online {
	color: white;
	border: none;
	background-color: #1ca32e;
	width: 100%;
	font-size: 3.8vh;
	font-family: 'montserrat';
	border-radius: 15px;
}

.btn-quran-online:hover,
.btn-iqra-online:hover {
	color: white;
	border: none;
	background-color: #21c437;
}

.row-value {
	/* padding-top: 20px; */
	border-radius: 25px;
	/* padding: 4px 0 4px 0; */
	/* height: ; */
	margin-top: 3vw;
	background-color: #9adc9f;
	margin-bottom: 5vw;
}

.card-value {
	background: none;
	border: none;
}

.title-value {
	color: #146C20;
	font-weight: bold;
	text-transform: uppercase;
}


.title-aboutus {
	font-weight: bold;
}

.aboutus-area {
	height: 200px;
	margin-bottom: 5vw;
	width: 100%;
	height: fit-content;
	background-color: rgb(204, 221, 200);
	border-radius: 25px;
}

.title-detail-value {
	color: #146C20;
	padding-top: 20px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
}

/* Homepage End */


/* Quran Online Start */
.row-detail-quran {
	margin-top: 3vw;
	height: fit-content;
	/* background-color: whitesmoke; */
	border-radius: 20px;
	height: fit-content;
}

.row-ayat-quran {
	margin-top: 5vw;
	height: fit-content;
	background-color: whitesmoke;
	border-radius: 10px;
}



/* Quran Online End */
